body
{
    margin:0;
    display:flex;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    background-color:blueviolet;
}
.container
{
    background-color:greenyellow;
    box-shadow: 0 6px 10px rgba(0,0,0,.3);
    margin:90px;
    text-align: center;
    padding: 90px;
    border-radius: 20px;
    width: 500px;
    border-bottom: 20px;
    border-top: 20px;
    opacity: 900px;
}
.title
{
    font-family: fantasy;
    font-size: larger;

}
.quoto
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size:x-large;
}
.top
{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-align: right ;
}
.btn
{
  background-color:purple;
  cursor: pointer;
  font-size: medium;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-style: oblique;
  border-color: black;
  border-radius: 20px;
  text-transform: uppercase;
  
  
}
.btn:hover
{
    background-color: green;
    opacity:50px;
}
.btn:active{
    box-shadow: 0 5px;
    transform: translateY(4px);
}


